@{
    ViewData["Title"] = "Home Page";
}
@model UserViewModel

<table>
    <tr>
        <td>Ad</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Sifre</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Çıkış","Logout","Auth")</td>
    </tr>
</table>