@model Category
@{
    ViewData["Title"] = "CategoryAdd";
}

<h1>CategoryAdd</h1>

@using (Html.BeginForm())
{
    @*@Html.Label("Kategori adı")*@
    @Html.TextBoxFor(x=>x.Name)

    <input type="submit" value="Kaydet"/>
}
